* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#outbound {
    background-image: url("./photos/incheon_airport_photo.png");  
}

#seoul_1 {
    background-image: url("");
}

#busan {
    background-image: url("");
}

#outbound,
#seoul_1,
#busan {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 1250px;
}

.daily_caption {
    text-align: left;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 50%;
    width: 60%;
    color: rgb(0, 255, 255);
    text-shadow: 2px 2px purple;
}